<a href="https://colab.research.google.com/github/Trieuvyy3110/DataAnalystDeepLearning/blob/main/Lab01/Lab01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
s = pd.Series([12,-4,7,9])
print (s)

0    12
1    -4
2     7
3     9
dtype: int64

In [2]:
import pandas as pd
s = pd.Series([12,-4,7,9], index=['a', 'b', 'c', 'd'])
print (s)

a    12
b    -4
c     7
d     9
dtype: int64

In [3]:
data ={'color' : ['blue', 'green', 'yellow', 'red', 'white'],
	'object': ['ball', 'pen', 'pencil', 'paper', 'mug'],
	'price': [1.2, 1.0, 0.6,0.9,1.7]}
frame = pd.DataFrame(data)
frame

    color  object  price
0    blue    ball    1.2
1   green     pen    1.0
2  yellow  pencil    0.6
3     red   paper    0.9
4   white     mug    1.7

In [4]:
frame2 = pd.DataFrame (data, columns = ['object', 'price'])
frame2

   object  price
0    ball    1.2
1     pen    1.0
2  pencil    0.6
3   paper    0.9
4     mug    1.7

In [5]:
frame2['type'] ='normal'
frame2

   object  price    type
0    ball    1.2  normal
1     pen    1.0  normal
2  pencil    0.6  normal
3   paper    0.9  normal
4     mug    1.7  normal

In [6]:
for i in range(len(frame2)):
  if frame2['price'][i] > 1.0:
    frame2.loc[i, 'type'] = 'good'
frame2

   object  price    type
0    ball    1.2    good
1     pen    1.0  normal
2  pencil    0.6  normal
3   paper    0.9  normal
4     mug    1.7    good

In [7]:
frame2['discount'] = frame2['price']*0.02
frame2

   object  price    type  discount
0    ball    1.2    good     0.024
1     pen    1.0  normal     0.020
2  pencil    0.6  normal     0.012
3   paper    0.9  normal     0.018
4     mug    1.7    good     0.034

In [8]:
frame2['price_afterdiscount'] = frame2['price'] - frame2['discount']
frame2

   object  price    type  discount  price_afterdiscount
0    ball    1.2    good     0.024                1.176
1     pen    1.0  normal     0.020                0.980
2  pencil    0.6  normal     0.012                0.588
3   paper    0.9  normal     0.018                0.882
4     mug    1.7    good     0.034                1.666

In [9]:
import pandas as pd
dulieuxettuyen = pd.read_csv("https://raw.githubusercontent.com/huynhhoc/DataAnalystDeepLearning/main/Data/dulieuxettuyendaihoc.csv")
print (dulieuxettuyen.head(10))

   STT   T1   L1   H1   S1   V1   X1  ...  GT  DT   KV   DH1   DH2   DH3  KT
0    1  7.2  7.3  6.3  7.3  7.0  7.9  ...   F NaN  2NT  3.25  3.25  4.50  A1
1    2  5.4  3.9  3.9  4.0  5.4  5.4  ...   M NaN    1  6.00  4.00  3.50   C
2    3  5.6  6.8  7.2  7.5  4.3  7.4  ...   M NaN    1  5.00  6.75  4.00   C
3    4  6.6  6.4  5.3  6.9  5.4  7.3  ...   M NaN    1  4.25  4.25  5.25  D1
4    5  6.0  5.0  6.0  7.3  6.5  7.7  ...   M NaN  2NT  4.25  4.50  5.00   A
5    6  9.3  7.6  7.9  8.6  7.0  7.3  ...   M NaN    1  1.50  4.00  6.00  D1
6    7  2.8  3.9  5.5  6.9  5.0  7.3  ...   F NaN    2  6.50  6.75  5.25   C
7    8  8.3  6.0  7.6  5.1  7.5  4.7  ...   F NaN    2  3.75  4.50  4.25  D1
8    9  6.5  6.3  7.6  6.0  5.5  7.1  ...   F NaN    1  3.50  3.50  6.75  D1
9   10  7.3  5.9  4.7  7.1  6.7  7.9  ...   F NaN    1  4.00  4.75  5.50  D1

[10 rows x 56 columns]

In [10]:
import pandas as pd
import numpy as np
frame = pd.DataFrame(np.arange(16).reshape(4,4),
		index =['white', 'black', 'red','blue'],
		columns =['up', 'down', 'right', 'left'])
frame.to_json('frame.json')
#Read json-formatted data
jsonFrame = pd.read_json('frame.json')
print(jsonFrame)

       up  down  right  left
white   0     1      2     3
black   4     5      6     7
red     8     9     10    11
blue   12    13     14    15

In [11]:
import pandas as pd
example11 = pd.read_table('https://raw.githubusercontent.com/huynhhoc/DataAnalystDeepLearning/main/Data/example11.txt', sep='\D+', header=None, engine='python')
print (example11)

   0    1    2
0  0  123  122
1  1  124  321
2  2  125  333

In [12]:
import pandas as pd
example12 = pd.read_table('https://raw.githubusercontent.com/huynhhoc/DataAnalystDeepLearning/main/Data/example12.txt', sep=',', skiprows=[0,1,3,6])
print (example12)

   white  red  blue  green animal
0      1    5     2      3    cat
1      2    7     8      5    dog
2      3    3     6      7  horse
3      2    2     8      3   duck
4      4    4     2      1  mouse

In [13]:
import pandas as pd
example13 = pd.read_table('https://raw.githubusercontent.com/huynhhoc/DataAnalystDeepLearning/main/Data/example13.txt', skiprows=[2], nrows=3)
print (example13)

  white,red,blue,green,animal
0                 1,5,2,3,cat
1               3,3,6,7,horse
2                2,2,8,3,duck

In [14]:
import pandas as pd
import numpy as np
frame = pd.DataFrame(np.arange(16).reshape(4,4),index = ['red', 'blue', 'yellow','white'],columns = ['ball', 'pen', 'pencil', 'paper'])
print(frame)

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [15]:
newframe = pd.DataFrame(frame, columns=['paper','pen'])
print(newframe)

        paper  pen
red         3    1
blue        7    5
yellow     11    9
white      15   13

In [17]:
filteredFrame = frame[frame < 11]
print(filteredFrame)

        ball  pen  pencil  paper
red      0.0  1.0     2.0    3.0
blue     4.0  5.0     6.0    7.0
yellow   8.0  9.0    10.0    NaN
white    NaN  NaN     NaN    NaN

In [18]:
dropAllNaNFrame = filteredFrame.dropna()
print (dropAllNaNFrame)

      ball  pen  pencil  paper
red    0.0  1.0     2.0    3.0
blue   4.0  5.0     6.0    7.0

In [19]:
dropNaNAllFrame = filteredFrame.dropna(how='all')
print(dropNaNAllFrame)

        ball  pen  pencil  paper
red      0.0  1.0     2.0    3.0
blue     4.0  5.0     6.0    7.0
yellow   8.0  9.0    10.0    NaN

In [20]:
filteredFrame.isnull().sum()

ball      1
pen       1
pencil    1
paper     2
dtype: int64

In [21]:
print (filteredFrame)

        ball  pen  pencil  paper
red      0.0  1.0     2.0    3.0
blue     4.0  5.0     6.0    7.0
yellow   8.0  9.0    10.0    NaN
white    NaN  NaN     NaN    NaN

In [22]:
fillnazeroFrame = filteredFrame.fillna(0)
print(fillnazeroFrame)

        ball  pen  pencil  paper
red      0.0  1.0     2.0    3.0
blue     4.0  5.0     6.0    7.0
yellow   8.0  9.0    10.0    0.0
white    0.0  0.0     0.0    0.0

In [23]:
from google.colab import drive
drive.mount('/drive')

Mounted at /drive

In [25]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/huynhhoc/DataAnalystDeepLearning/main/Data/dulieuxettuyendaihoc.csv", index_col = "STT")
print(df)

      T1   L1   H1   S1   V1   X1   D1  ...  GT  DT   KV   DH1   DH2   DH3  KT
STT                                     ...
1    7.2  7.3  6.3  7.3  7.0  7.9  7.3  ...   F NaN  2NT  3.25  3.25  4.50  A1
2    5.4  3.9  3.9  4.0  5.4  5.4  5.3  ...   M NaN    1  6.00  4.00  3.50   C
3    5.6  6.8  7.2  7.5  4.3  7.4  5.8  ...   M NaN    1  5.00  6.75  4.00   C
4    6.6  6.4  5.3  6.9  5.4  7.3  6.4  ...   M NaN    1  4.25  4.25  5.25  D1
5    6.0  5.0  6.0  7.3  6.5  7.7  7.9  ...   M NaN  2NT  4.25  4.50  5.00   A
..   ...  ...  ...  ...  ...  ...  ...  ...  ..  ..  ...   ...   ...   ...  ..
96   8.6  6.9  7.4  8.8  7.6  5.8  7.3  ...   F NaN    1  5.25  1.50  6.25   C
97   3.7  5.4  6.0  5.1  5.5  3.9  6.1  ...   F NaN    1  5.25  3.75  4.75   C
98   8.8  5.5  7.4  7.7  6.2  7.3  8.1  ...   M NaN  2NT  7.00  8.00  4.00   C
99   2.7  1.8  3.4  5.3  4.5  7.9  4.9  ...   M NaN    1  5.00  3.50  5.50   C
100  4.1  5.2  4.9  5.3  5.5  5.4  7.2  ...   M NaN  2NT  5.25  2.50  4.25   C

[100 rows x 55 columns]

In [27]:
def fill(col):
  return df[col].fillna(df[col], inplace = True)
print(df.dtypes)

T1     float64
L1     float64
H1     float64
S1     float64
V1     float64
X1     float64
D1     float64
N1     float64
T2     float64
L2     float64
H2     float64
S2     float64
V2     float64
X2     float64
D2     float64
N2     float64
T3     float64
L3     float64
H3     float64
S3     float64
V3     float64
X3     float64
D3     float64
N3     float64
T4     float64
L4     float64
H4     float64
S4     float64
V4     float64
X4     float64
D4     float64
N4     float64
T5     float64
L5     float64
H5     float64
S5     float64
V5     float64
X5     float64
D5     float64
N5     float64
T6     float64
L6     float64
H6     float64
S6     float64
V6     float64
X6     float64
D6     float64
N6     float64
GT      object
DT     float64
KV      object
DH1    float64
DH2    float64
DH3    float64
KT      object
dtype: object

In [28]:
print(df.head(10))

      T1   L1   H1   S1   V1   X1   D1  ...  GT  DT   KV   DH1   DH2   DH3  KT
STT                                     ...
1    7.2  7.3  6.3  7.3  7.0  7.9  7.3  ...   F NaN  2NT  3.25  3.25  4.50  A1
2    5.4  3.9  3.9  4.0  5.4  5.4  5.3  ...   M NaN    1  6.00  4.00  3.50   C
3    5.6  6.8  7.2  7.5  4.3  7.4  5.8  ...   M NaN    1  5.00  6.75  4.00   C
4    6.6  6.4  5.3  6.9  5.4  7.3  6.4  ...   M NaN    1  4.25  4.25  5.25  D1
5    6.0  5.0  6.0  7.3  6.5  7.7  7.9  ...   M NaN  2NT  4.25  4.50  5.00   A
6    9.3  7.6  7.9  8.6  7.0  7.3  7.7  ...   M NaN    1  1.50  4.00  6.00  D1
7    2.8  3.9  5.5  6.9  5.0  7.3  4.6  ...   F NaN    2  6.50  6.75  5.25   C
8    8.3  6.0  7.6  5.1  7.5  4.7  5.8  ...   F NaN    2  3.75  4.50  4.25  D1
9    6.5  6.3  7.6  6.0  5.5  7.1  6.3  ...   F NaN    1  3.50  3.50  6.75  D1
10   7.3  5.9  4.7  7.1  6.7  7.9  6.7  ...   F NaN    1  4.00  4.75  5.50  D1

[10 rows x 55 columns]

In [29]:
print(df.tail(10))

      T1   L1   H1   S1   V1   X1   D1  ...  GT  DT   KV   DH1   DH2   DH3  KT
STT                                     ...
91   8.1  7.7  9.1  8.5  6.1  8.6  8.8  ...   M NaN    2  6.25  4.00  6.50   A
92   7.8  6.5  6.7  5.4  6.2  4.8  5.9  ...   M NaN  2NT  4.75  4.75  4.50   A
93   5.0  6.6  6.5  7.2  5.8  6.7  6.4  ...   M NaN    1  3.25  5.25  4.25   A
94   5.2  5.2  6.8  7.9  6.6  8.9  7.6  ...   M NaN    1  3.50  4.25  5.00   A
95   5.8  5.9  7.6  6.1  5.3  8.1  6.1  ...   M NaN    1  4.25  2.50  4.75   A
96   8.6  6.9  7.4  8.8  7.6  5.8  7.3  ...   F NaN    1  5.25  1.50  6.25   C
97   3.7  5.4  6.0  5.1  5.5  3.9  6.1  ...   F NaN    1  5.25  3.75  4.75   C
98   8.8  5.5  7.4  7.7  6.2  7.3  8.1  ...   M NaN  2NT  7.00  8.00  4.00   C
99   2.7  1.8  3.4  5.3  4.5  7.9  4.9  ...   M NaN    1  5.00  3.50  5.50   C
100  4.1  5.2  4.9  5.3  5.5  5.4  7.2  ...   M NaN  2NT  5.25  2.50  4.25   C

[10 rows x 55 columns]

In [30]:
df['DT'].fillna(0, inplace = True)
print(df)

      T1   L1   H1   S1   V1   X1   D1  ...  GT   DT   KV   DH1   DH2   DH3  KT
STT                                     ...
1    7.2  7.3  6.3  7.3  7.0  7.9  7.3  ...   F  0.0  2NT  3.25  3.25  4.50  A1
2    5.4  3.9  3.9  4.0  5.4  5.4  5.3  ...   M  0.0    1  6.00  4.00  3.50   C
3    5.6  6.8  7.2  7.5  4.3  7.4  5.8  ...   M  0.0    1  5.00  6.75  4.00   C
4    6.6  6.4  5.3  6.9  5.4  7.3  6.4  ...   M  0.0    1  4.25  4.25  5.25  D1
5    6.0  5.0  6.0  7.3  6.5  7.7  7.9  ...   M  0.0  2NT  4.25  4.50  5.00   A
..   ...  ...  ...  ...  ...  ...  ...  ...  ..  ...  ...   ...   ...   ...  ..
96   8.6  6.9  7.4  8.8  7.6  5.8  7.3  ...   F  0.0    1  5.25  1.50  6.25   C
97   3.7  5.4  6.0  5.1  5.5  3.9  6.1  ...   F  0.0    1  5.25  3.75  4.75   C
98   8.8  5.5  7.4  7.7  6.2  7.3  8.1  ...   M  0.0  2NT  7.00  8.00  4.00   C
99   2.7  1.8  3.4  5.3  4.5  7.9  4.9  ...   M  0.0    1  5.00  3.50  5.50   C
100  4.1  5.2  4.9  5.3  5.5  5.4  7.2  ...   M  0.0  2NT  5.25  2.50  4.25   C

[100 rows x 55 columns]

In [31]:
df["T1"].fillna(df["T1"].mean(), inplace =True)
print(df)

      T1   L1   H1   S1   V1   X1   D1  ...  GT   DT   KV   DH1   DH2   DH3  KT
STT                                     ...
1    7.2  7.3  6.3  7.3  7.0  7.9  7.3  ...   F  0.0  2NT  3.25  3.25  4.50  A1
2    5.4  3.9  3.9  4.0  5.4  5.4  5.3  ...   M  0.0    1  6.00  4.00  3.50   C
3    5.6  6.8  7.2  7.5  4.3  7.4  5.8  ...   M  0.0    1  5.00  6.75  4.00   C
4    6.6  6.4  5.3  6.9  5.4  7.3  6.4  ...   M  0.0    1  4.25  4.25  5.25  D1
5    6.0  5.0  6.0  7.3  6.5  7.7  7.9  ...   M  0.0  2NT  4.25  4.50  5.00   A
..   ...  ...  ...  ...  ...  ...  ...  ...  ..  ...  ...   ...   ...   ...  ..
96   8.6  6.9  7.4  8.8  7.6  5.8  7.3  ...   F  0.0    1  5.25  1.50  6.25   C
97   3.7  5.4  6.0  5.1  5.5  3.9  6.1  ...   F  0.0    1  5.25  3.75  4.75   C
98   8.8  5.5  7.4  7.7  6.2  7.3  8.1  ...   M  0.0  2NT  7.00  8.00  4.00   C
99   2.7  1.8  3.4  5.3  4.5  7.9  4.9  ...   M  0.0    1  5.00  3.50  5.50   C
100  4.1  5.2  4.9  5.3  5.5  5.4  7.2  ...   M  0.0  2NT  5.25  2.50  4.25   C

[100 rows x 55 columns]

In [32]:
is_float64 = df.dtypes == float
df_column_list = df.columns[is_float64].tolist()

In [33]:
df_column_list

['T1',
 'L1',
 'H1',
 'S1',
 'V1',
 'X1',
 'D1',
 'N1',
 'T2',
 'L2',
 'H2',
 'S2',
 'V2',
 'X2',
 'D2',
 'N2',
 'T3',
 'L3',
 'H3',
 'S3',
 'V3',
 'X3',
 'D3',
 'N3',
 'T4',
 'L4',
 'H4',
 'S4',
 'V4',
 'X4',
 'D4',
 'N4',
 'T5',
 'L5',
 'H5',
 'S5',
 'V5',
 'X5',
 'D5',
 'N5',
 'T6',
 'L6',
 'H6',
 'S6',
 'V6',
 'X6',
 'D6',
 'N6',
 'DT',
 'DH1',
 'DH2',
 'DH3']

In [34]:
for col in df_column_list:
  df[col].fillna(df[col].mean(), inplace =True)
print(df)

      T1   L1   H1   S1   V1   X1   D1  ...  GT   DT   KV   DH1   DH2   DH3  KT
STT                                     ...
1    7.2  7.3  6.3  7.3  7.0  7.9  7.3  ...   F  0.0  2NT  3.25  3.25  4.50  A1
2    5.4  3.9  3.9  4.0  5.4  5.4  5.3  ...   M  0.0    1  6.00  4.00  3.50   C
3    5.6  6.8  7.2  7.5  4.3  7.4  5.8  ...   M  0.0    1  5.00  6.75  4.00   C
4    6.6  6.4  5.3  6.9  5.4  7.3  6.4  ...   M  0.0    1  4.25  4.25  5.25  D1
5    6.0  5.0  6.0  7.3  6.5  7.7  7.9  ...   M  0.0  2NT  4.25  4.50  5.00   A
..   ...  ...  ...  ...  ...  ...  ...  ...  ..  ...  ...   ...   ...   ...  ..
96   8.6  6.9  7.4  8.8  7.6  5.8  7.3  ...   F  0.0    1  5.25  1.50  6.25   C
97   3.7  5.4  6.0  5.1  5.5  3.9  6.1  ...   F  0.0    1  5.25  3.75  4.75   C
98   8.8  5.5  7.4  7.7  6.2  7.3  8.1  ...   M  0.0  2NT  7.00  8.00  4.00   C
99   2.7  1.8  3.4  5.3  4.5  7.9  4.9  ...   M  0.0    1  5.00  3.50  5.50   C
100  4.1  5.2  4.9  5.3  5.5  5.4  7.2  ...   M  0.0  2NT  5.25  2.50  4.25   C

[100 rows x 55 columns]

Tạo các biến TBM1, TBM2, TBM3 tương ứng với trung bình môn của các năm lớp 10, 11 và 12.

In [35]:
for i in ['1', '2', '6']:
  df['TBM' + i] = (df['T'+i] * 2 + df['L' + i] + df['H' + i] + df['S' + i] + df['V' + i] * 2 + df['X' + i] + df['D' + i] + df['N' + i]) / 10

In [36]:
df.rename(columns={"TBM6":"TBM3"}, inplace = True)

In [37]:
print(df)

      T1   L1   H1   S1   V1   X1   D1  ...   DH1   DH2   DH3  KT  TBM1  TBM2  TBM3
STT                                     ...
1    7.2  7.3  6.3  7.3  7.0  7.9  7.3  ...  3.25  3.25  4.50  A1  7.00  7.54  7.01
2    5.4  3.9  3.9  4.0  5.4  5.4  5.3  ...  6.00  4.00  3.50   C  4.69  5.47  5.07
3    5.6  6.8  7.2  7.5  4.3  7.4  5.8  ...  5.00  6.75  4.00   C  5.77  5.38  6.04
4    6.6  6.4  5.3  6.9  5.4  7.3  6.4  ...  4.25  4.25  5.25  D1  6.21  5.20  6.88
5    6.0  5.0  6.0  7.3  6.5  7.7  7.9  ...  4.25  4.50  5.00   A  6.50  6.36  6.99
..   ...  ...  ...  ...  ...  ...  ...  ...   ...   ...   ...  ..   ...   ...   ...
96   8.6  6.9  7.4  8.8  7.6  5.8  7.3  ...  5.25  1.50  6.25   C  7.43  7.42  6.83
97   3.7  5.4  6.0  5.1  5.5  3.9  6.1  ...  5.25  3.75  4.75   C  4.93  5.15  6.39
98   8.8  5.5  7.4  7.7  6.2  7.3  8.1  ...  7.00  8.00  4.00   C  7.05  7.84  7.67
99   2.7  1.8  3.4  5.3  4.5  7.9  4.9  ...  5.00  3.50  5.50   C  4.15  4.72  5.29
100  4.1  5.2  4.9  5.3  5.5  5.4  7.2  ...  5.25  2.50  4.25   C  5.26  5.72  5.85

[100 rows x 58 columns]

8.Tạo các biến xếp loại XL1, XL2 và XL3 dựa trên TBM1,TBM2 và TBM3 cho từng năm lớp 10, 11, 12 như sau:

Nhỏ hơn 5.0 xếp loại: yếu (kí hiệu là Y)
Từ 5.0 đến dưới 6.5: trung bình (kí hiệu là TB)
Từ 6.5 đến dưới 8.0: khá (kí hiệu là K)
Từ 8.0 đến dưới 9.0: giỏi (kí hiệu là G)
Từ 9.0 trở lên: xuất sắc (kí hiệu là XS)

In [38]:
for i in ['1','2','3']:
  df.loc[df['TBM' + i] < 5, 'XL' + i] = 'Y'
  df.loc[(df['TBM'+i] <= 6.5) &(df['TBM'+i] > 5), 'XL' + i] = 'TB'
  df.loc[(df['TBM'+i] < 8) &(df['TBM'+i] >= 6.5), 'XL'+i] = 'K' 
  df.loc[(df['TBM'+i] < 9) &(df['TBM'+i] >=8), 'XL'+i] = 'G' 
  df.loc[(df['TBM'+i] >= 9), 'XL'+i] = 'XS'

In [39]:
print(df)

      T1   L1   H1   S1   V1   X1   D1  ...  KT  TBM1  TBM2  TBM3  XL1  XL2  XL3
STT                                     ...
1    7.2  7.3  6.3  7.3  7.0  7.9  7.3  ...  A1  7.00  7.54  7.01    K    K    K
2    5.4  3.9  3.9  4.0  5.4  5.4  5.3  ...   C  4.69  5.47  5.07    Y   TB   TB
3    5.6  6.8  7.2  7.5  4.3  7.4  5.8  ...   C  5.77  5.38  6.04   TB   TB   TB
4    6.6  6.4  5.3  6.9  5.4  7.3  6.4  ...  D1  6.21  5.20  6.88   TB   TB    K
5    6.0  5.0  6.0  7.3  6.5  7.7  7.9  ...   A  6.50  6.36  6.99    K   TB    K
..   ...  ...  ...  ...  ...  ...  ...  ...  ..   ...   ...   ...  ...  ...  ...
96   8.6  6.9  7.4  8.8  7.6  5.8  7.3  ...   C  7.43  7.42  6.83    K    K    K
97   3.7  5.4  6.0  5.1  5.5  3.9  6.1  ...   C  4.93  5.15  6.39    Y   TB   TB
98   8.8  5.5  7.4  7.7  6.2  7.3  8.1  ...   C  7.05  7.84  7.67    K    K    K
99   2.7  1.8  3.4  5.3  4.5  7.9  4.9  ...   C  4.15  4.72  5.29    Y    Y   TB
100  4.1  5.2  4.9  5.3  5.5  5.4  7.2  ...   C  5.26  5.72  5.85   TB   TB   TB

[100 rows x 61 columns]

9.Tạo các biến US_TBM1, US_TBM2 và US_TBM3 để chuyển điểm trung bình các năm lớp 10, 11 và 12 từ thang điểm 10 của Việt Nam sang thang điểm 4 của Mỹ. Sử dụng phương pháp Min-Max Normalization

In [40]:
for i in ["1","2","3"]:
    df["US_TBM"+i] = (df["TBM"+i]/10) *4

In [41]:
print(df)

      T1   L1   H1   S1   V1   X1  ...  XL1  XL2  XL3  US_TBM1  US_TBM2  US_TBM3
STT                                ...
1    7.2  7.3  6.3  7.3  7.0  7.9  ...    K    K    K    2.800    3.016    2.804
2    5.4  3.9  3.9  4.0  5.4  5.4  ...    Y   TB   TB    1.876    2.188    2.028
3    5.6  6.8  7.2  7.5  4.3  7.4  ...   TB   TB   TB    2.308    2.152    2.416
4    6.6  6.4  5.3  6.9  5.4  7.3  ...   TB   TB    K    2.484    2.080    2.752
5    6.0  5.0  6.0  7.3  6.5  7.7  ...    K   TB    K    2.600    2.544    2.796
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...      ...      ...      ...
96   8.6  6.9  7.4  8.8  7.6  5.8  ...    K    K    K    2.972    2.968    2.732
97   3.7  5.4  6.0  5.1  5.5  3.9  ...    Y   TB   TB    1.972    2.060    2.556
98   8.8  5.5  7.4  7.7  6.2  7.3  ...    K    K    K    2.820    3.136    3.068
99   2.7  1.8  3.4  5.3  4.5  7.9  ...    Y    Y   TB    1.660    1.888    2.116
100  4.1  5.2  4.9  5.3  5.5  5.4  ...   TB   TB   TB    2.104    2.288    2.340

[100 rows x 64 columns]

10.Tạo biến kết quả xét tuyển (kí hiệu là KQXT) nhằm xác định sinh viên đậu (giá trị "1") và rớt ( giá trị "0") vào các khối dựa trên điểm DH1, DH2 và DH3 như sau

Với khối A, A1 nếu [(DH1*2 + DH2 + DH3)/4] lớn hơn hoặc bằng 5.0 thì đậu, ngược lại là rớt
Với khối B nếu [(DH1 + DH2*2 + DH3)/4] lớn hơn hoặc bằng 5.0 thì đậu, ngược lại là rớt

Với khối khác nếu [(DH1+ DH2 + DH3)/3] lớn hơn hoặc bằng 5.0 thì đậu, ngược lại là rớt

In [42]:
for i in df['KT']:
  str(i)
  df.loc[(i == 'A' or i == 'A1') & ((df['DH1'] * 2 + df['DH2'] + df['DH3']) / 4 >= 5.0), 'KQXT'] = 'đậu'
  df.loc[(i == 'A' or i == 'Ađậu') & ((df['DH1'] * 2 + df['DH2'] + df['DH3']) / 4 < 5.0), 'KQXT'] = 'rớt'

  df.loc[(i == 'B') & ((df['DH1'] + df['DH2'] * 2 + df['DH3']) / 4 >= 5.0), 'KQXT'] = 'đậu'
  df.loc[(i == 'B') & ((df['DH1'] + df['DH2'] * 2 + df['DH3']) / 4 < 5.0), 'KQXT'] = 'rớt'
          
  df.loc[(i != 'B' or i != 'A' or i != 'A1') & ((df['DH1'] + df['DH2']+ df['DH3']) / 3 >= 5.0), 'KQXT'] = 'đậu'
  df.loc[(i != 'B' or i != 'A' or i != 'A1') & ((df['DH1'] + df['DH2']+ df['DH3']) / 3 < 5.0), 'KQXT'] = 'rớt'

In [43]:
print(df)

      T1   L1   H1   S1   V1   X1  ...  XL2  XL3  US_TBM1  US_TBM2  US_TBM3  KQXT
STT                                ...
1    7.2  7.3  6.3  7.3  7.0  7.9  ...    K    K    2.800    3.016    2.804   rớt
2    5.4  3.9  3.9  4.0  5.4  5.4  ...   TB   TB    1.876    2.188    2.028   rớt
3    5.6  6.8  7.2  7.5  4.3  7.4  ...   TB   TB    2.308    2.152    2.416   đậu
4    6.6  6.4  5.3  6.9  5.4  7.3  ...   TB    K    2.484    2.080    2.752   rớt
5    6.0  5.0  6.0  7.3  6.5  7.7  ...   TB    K    2.600    2.544    2.796   rớt
..   ...  ...  ...  ...  ...  ...  ...  ...  ...      ...      ...      ...   ...
96   8.6  6.9  7.4  8.8  7.6  5.8  ...    K    K    2.972    2.968    2.732   rớt
97   3.7  5.4  6.0  5.1  5.5  3.9  ...   TB   TB    1.972    2.060    2.556   rớt
98   8.8  5.5  7.4  7.7  6.2  7.3  ...    K    K    2.820    3.136    3.068   đậu
99   2.7  1.8  3.4  5.3  4.5  7.9  ...    Y   TB    1.660    1.888    2.116   rớt
100  4.1  5.2  4.9  5.3  5.5  5.4  ...   TB   TB    2.104    2.288    2.340   rớt

[100 rows x 65 columns]

11.Lưu trữ dữ liệu xuống ổ đĩa thành file processed_dulieuxettuyendaihoc.csv

In [44]:
from google.colab import drive
drive.mount('/drive')

Drive already mounted at /drive; to attempt to forcibly remount, call drive.mount("/drive", force_remount=True).